<!DOCTYPE html>
<html>
  <head>
    <title>GreetUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap" rel="stylesheet">
    <script type="text/javascript">
        window.fitness = "<%= image_url('fitness.jpg') %>";
        window.food = "<%= image_url('food.jpg') %>";
        window.language = "<%= image_url('language.jpg') %>";
        window.learning = "<%= image_url('learning.jpg') %>";
        window.movement = "<%= image_url('movement.jpg') %>";
        window.outdoors = "<%= image_url('outdoors.jpg') %>";
        window.pets = "<%= image_url('pets.jpg') %>";
        window.photography = "<%= image_url('photography.jpg') %>";
        window.banner = "<%= image_url('banner.mp4') %>";
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
