<!DOCTYPE html>
<html>
  <head>
    <title>GreetUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.food = "<%= image_url('food.jpeg') %>";
        window.language = "<%= image_url('language.jpeg') %>";
        window.learning = "<%= image_url('learning.jpeg') %>";
        window.movement = "<%= image_url('movement.jpeg') %>";
        window.outdoors = "<%= image_url('outdoors.jpeg') %>";
        window.pets = "<%= image_url('pets.jpeg') %>";
        window.photography = "<%= image_url('photography.jpeg') %>";
        window.banner = "<%= image_url('banner.mp4') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
